<div class="d-flex flex-column justify-content-between align-items-center vh-100 shadow" style="width: 100px; z-index: 1; position: fixed; top: 0; left: 0;">
    <img src="/static/assets/img/Group.png" class="pt-4" alt="">
    <div class="d-flex flex-column w-100">
        <a href="http://localhost:8080/" class="btn btn-light my-2"><span class="iconly-Home icli"></span></a>
        <a href="http://localhost:8080/konsultasi" class="btn btn-light my-2"><span class="iconly-Video icli"></span></a>
        <a href="http://localhost:8080/logbook" class="btn btn-light my-2"><span class="iconly-Document icli"></span></a>
    </div>
    <img src="/static/assets/img/Ellipse 7.png" width="40" height="40" class="rounded-circle mb-4" alt="">
</div>