
<%- include('_partial/head'); %>
<body>
    <div class="d-flex flex-row main">
        <%- include('_partial/sidebar'); %>
        <div class="container-fluid mx-4 my-4">
            <%- include('_partial/navbar', {title: 'Dashboard', tanggal: 'Minggu, 4 Oktober 2021'}); %>
            <div class="d-flex flex-column mb-4 bimbingan">
                <p class="title">Mahasiswa Bimbingan</p>
                <p class="text-muted">Berikut adalah semua mahasiswa bimbingan anda</p>
                <div class="row" style="min-height: 350px;">
                    <div class="col card p-0 mx-2">
                        <div class="content d-flex h-100 flex-column justify-content-between align-items-center py-3">
                            <div class="text-center">
                                <img class="mb-2" src="/static/assets/img/Ellipse 7.png" width="80" height="80" alt="">
                                <p class="title">Archil Khun</p>
                                <p >H1051151035</p>
                            </div>
                            <div class="text-center">
                                <p class="text-muted mb-0">Terakhir Konsultasi</p>
                                <p class="mb-0">1 Januari 2019</p>
                            </div>
                        </div>
                        <button class="btn btn-card" ">Lihat Detail</button>
                    </div>
                    <div class="col card p-0 mx-2">
                        <div class="content d-flex h-100 flex-column justify-content-between align-items-center py-3">
                            <div class="text-center">
                                <img class="mb-2" src="/static/assets/img/Ellipse 7.png" width="80" height="80" alt="">
                                <p class="title">Archil Khun</p>
                                <p >H1051151035</p>
                            </div>
                            <div class="text-center">
                                <p class="text-muted mb-0">Terakhir Konsultasi</p>
                                <p class="mb-0">1 Januari 2019</p>
                            </div>
                        </div>
                        <button class="btn btn-card" ">Lihat Detail</button>
                    </div>
                    <div class="col card p-0 mx-2">
                        <div class="content d-flex h-100 flex-column justify-content-between align-items-center py-3">
                            <div class="text-center">
                                <img class="mb-2" src="/static/assets/img/Ellipse 7.png" width="80" height="80" alt="">
                                <p class="title">Archil Khun</p>
                                <p >H1051151035</p>
                            </div>
                            <div class="text-center">
                                <p class="text-muted mb-0">Terakhir Konsultasi</p>
                                <p class="mb-0">1 Januari 2019</p>
                            </div>
                        </div>
                        <button class="btn btn-card" ">Lihat Detail</button>
                    </div>
                    <div class="col card p-0 mx-2">
                        <div class="content d-flex h-100 flex-column justify-content-between align-items-center py-3">
                            <div class="text-center">
                                <img class="mb-2" src="/static/assets/img/Ellipse 7.png" width="80" height="80" alt="">
                                <p class="title">Archil Khun</p>
                                <p >H1051151035</p>
                            </div>
                            <div class="text-center">
                                <p class="text-muted mb-0">Terakhir Konsultasi</p>
                                <p class="mb-0">1 Januari 2019</p>
                            </div>
                        </div>
                        <button class="btn btn-card" ">Lihat Detail</button>
                    </div>
                    <div class="col card p-0 mx-2">
                        <div class="content d-flex h-100 flex-column justify-content-between align-items-center py-3">
                            <div class="text-center">
                                <img class="mb-2" src="/static/assets/img/Ellipse 7.png" width="80" height="80" alt="">
                                <p class="title">Archil Khun</p>
                                <p >H1051151035</p>
                            </div>
                            <div class="text-center">
                                <p class="text-muted mb-0">Terakhir Konsultasi</p>
                                <p class="mb-0">1 Januari 2019</p>
                            </div>
                        </div>
                        <button class="btn btn-card" ">Lihat Detail</button>
                    </div>
                    <div class="col card p-0 mx-2">
                        <div class="content d-flex h-100 flex-column justify-content-between align-items-center py-3">
                            <div class="text-center">
                                <img class="mb-2" src="/static/assets/img/Ellipse 7.png" width="80" height="80" alt="">
                                <p class="title">Archil Khun</p>
                                <p >H1051151035</p>
                            </div>
                            <div class="text-center">
                                <p class="text-muted mb-0">Terakhir Konsultasi</p>
                                <p class="mb-0">1 Januari 2019</p>
                            </div>
                        </div>
                        <button class="btn btn-card" ">Lihat Detail</button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <p class="title">Statistik</p>
                <p class="text-muted">Berikut adalah beberapa statistik yang dikumpulkan</p>
                <div class="row">
                    <div class="konsul col-4 mx-2 px-0">
                        <div class="card mb-2">
                            <div class="d-flex flex-row px-4 py-4">
                                <a href="#" class="d-flex px-4 py-4" style="border-radius: 10px; background-color: #C34983;">
                                    <img src="/static/assets/img/chart.svg" alt="">
                                </a>
                                <div class="d-flex flex-column justify-content-center ps-3">
                                    <p class="mb-0">Belum Konsultasi Bulan ini</p>
                                    <p class="mb-0"><span style="color: #C34983; font-size: 28px; font-weight: 600;">5</span> Mahasiswa</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="d-flex flex-row px-4 py-4">
                                <a href="#" class="d-flex px-4 py-4" style="border-radius: 10px; background-color: #49C39F;">
                                    <img src="/static/assets/img/chart.svg" alt="">
                                </a>
                                <div class="d-flex flex-column justify-content-center ps-3">
                                    <p class="mb-0">Sudah Konsultasi Bulan ini</p>
                                    <p class="mb-0"><span style="color: #49C39F; font-size: 28px; font-weight: 600;">1</span> Mahasiswa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col card mx-2">
                        <div class="d-flex flex-column h-100 justify-content-between align-items-center px-4 py-4">
                            <div class="text-center">
                                <div class="d-flex px-4 py-4" style="border-radius: 10px; background-color: #8D49C3;">
                                    <img src="/static/assets/img/chart.svg" alt="">
                                </div>
                                <p class="mb-0 mt-2 text-muted">Angkatan</p>
                                <p class="mb-0">2013</p>
                            </div>
                            <div class="text-center">
                                <p class="mb-0" style="color: #8D49C3; font-size: 28px; font-weight: 600;">1</p>
                                <p class="mb-0">Mahasiswa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col card mx-2">
                        <div class="d-flex flex-column h-100 justify-content-between align-items-center px-4 py-4">
                            <div class="text-center">
                                <a href="#" class="d-flex px-4 py-4" style="border-radius: 10px; background-color: #8D49C3;">
                                    <img src="/static/assets/img/chart.svg" alt="">
                                </a>
                                <p class="mb-0 mt-2 text-muted">Angkatan</p>
                                <p class="mb-0">2014</p>
                            </div>
                            <div class="text-center">
                                <p class="mb-0" style="color: #8D49C3; font-size: 28px; font-weight: 600;">1</p>
                                <p class="mb-0">Mahasiswa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col card mx-2">
                        <div class="d-flex flex-column h-100 justify-content-between align-items-center px-4 py-4">
                            <div class="text-center">
                                <a href="#" class="d-flex px-4 py-4" style="border-radius: 10px; background-color: #8D49C3;">
                                    <img src="/static/assets/img/chart.svg" alt="">
                                </a>
                                <p class="mb-0 mt-2 text-muted">Angkatan</p>
                                <p class="mb-0">2015</p>
                            </div>
                            <div class="text-center">
                                <p class="mb-0" style="color: #8D49C3; font-size: 28px; font-weight: 600;">1</p>
                                <p class="mb-0">Mahasiswa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col card mx-2">
                        <div class="d-flex flex-column h-100 justify-content-between align-items-center px-4 py-4">
                            <div class="text-center">
                                <a href="" class="d-flex px-4 py-4" style="border-radius: 10px; background-color: #8D49C3;">
                                    <img src="/static/assets/img/chart.svg" alt="">
                                </a>
                                <p class="mb-0 mt-2 text-muted">Angkatan</p>
                                <p class="mb-0">2016</p>
                            </div>
                            <div class="text-center">
                                <p class="mb-0" style="color: #8D49C3; font-size: 28px; font-weight: 600;">1</p>
                                <p class="mb-0">Mahasiswa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/assets/js/sidebar.js"></script>
</body>
</html>