<%- include('_partial/head') %>
<body>
    <div class="d-flex flex-row">
        <%- include('_partial/sidebar') %> 
        <div class="container-fluid mx-4 my-4">
            <%- include('_partial/navbar', {title: 'Logbook', tanggal:'4 Desember 2021'}) %>
            <div class="d-flex flex-column mb-4">
                <p class="title">Logbook Archil Khun</p>
                <p class="text-muted">Berikut adalah data logbook untuk mahasiswa Archil Khun</p>
                <div class="row">
                    <div class="col-3">
                        <div class="d-flex flex-column w-100 align-items-center px-4 py-4 mb-4" style="color: white; background-color: #48C39F; border-radius: 10px;">
                            <div class="d-flex justify-content-center align-items-center rounded-circle" style="width: 120px; height: 120px; background-color: white;">
                                <img src="/static/assets/img/Ellipse 7.png" width="114" height="114" alt="">
                            </div>
                            <p style="margin: 0; font-weight: 600;">Archil Khun</p>
                            <p style="margin: 0;">H1051151035</p>
                            <p style="margin: 0;">Angkatan 2015</p>
                        </div>
                        <div class="card d-flex flex-column px-4 py-4 w-100">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <p class="title">Tabel Konsultasi</p>
                                <a href="" class="btn" style="color: #48C39F;">+ Tambah</a>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sesi</th>
                                        <th>Tanggal</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Ke - 1</td>
                                        <td>4 Oktober 2021</td>
                                        <td>:</td>
                                    </tr>
                                    <tr>
                                        <td>Ke - 1</td>
                                        <td>4 Oktober 2021</td>
                                        <td>:</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="d-flex mb-4">
                            <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                                <p>Sesi Ke-1</p>
                            </div>
                            <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                                <p>Sesi Ke-1</p>
                            </div>
                            <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                                <p>Sesi Ke-1</p>
                            </div>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item mb-4">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  <b>Notes / Masalah</b>
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne">
                                <div class="accordion-body">
                                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item mb-4">
                              <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  <b>Hal Yang Harus Dilakukan</b>
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                <div class="accordion-body">
                                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item mb-4">
                              <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <b>Lampiran</b>
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                                <div class="accordion-body">
                                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/assets/js/sidebar.js"></script>
</body>
</html> 