<%- include('_partial/head') %>
<body>
    <div class="d-flex flex-row">
        <%- include('_partial/sidebar') %> 
        <div class="container-fluid mx-4 my-4">
            <%- include('_partial/navbar', {title: 'Logbook', tanggal:'4 Desember 2021'}) %>
            <div class="d-flex flex-column mb-4">
                <p class="title">Logbook Archil Khun</p>
                <p class="text-muted">Berikut adalah data logbook untuk mahasiswa Archil Khun</p>
                <div class="row">
                    <div class="col-3">
                        <div class="d-flex flex-column w-100 align-items-center px-4 py-4 mb-4" style="color: white; background-color: #48C39F; border-radius: 10px;">
                            <div class="d-flex justify-content-center align-items-center rounded-circle" style="width: 120px; height: 120px; background-color: white;">
                                <img src="/static/assets/img/Ellipse 7.png" width="114" height="114" alt="">
                            </div>
                            <p style="margin: 0; font-weight: 600;">Archil Khun</p>
                            <p style="margin: 0;">H1051151035</p>
                            <p style="margin: 0;">Angkatan 2015</p>
                        </div>
                        <div class="card d-flex flex-column px-4 py-4 w-100">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <p class="title">Tabel Konsultasi</p>
                                <a href="" class="btn" style="color: #48C39F;">+ Tambah</a>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sesi</th>
                                        <th>Tanggal</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Ke - 1</td>
                                        <td>4 Oktober 2021</td>
                                        <td>:</td>
                                    </tr>
                                    <tr>
                                        <td>Ke - 1</td>
                                        <td>4 Oktober 2021</td>
                                        <td>:</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="d-flex">
                            <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                                <p>Sesi ke - 1</p>
                            </div>
                            <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                                <p>Sesi ke - 1</p>
                            </div>
                            <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                                <p>Sesi ke - 1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body> 