
<%- include('../_partial/head', {title: 'Dashboard'}); %>
<body>
    <div class="d-flex flex-row main">
        <%- include('../_partial/sidebar'); %>
        <div class="container-fluid mx-4 my-4">
            <%- include('../_partial/navbar', {title: 'Dashboard', tanggal: tanggal}); %>
            <div class="d-flex flex-column mb-4 bimbingan">
                <p class="title">Selamat Datang</p>
                <p class="title"><%- user.data.nama %> </p>
                <p class="text-muted mb-2">Berikut adalah statistik bimbingan anda</p>
                <div class="row mx-1">
                    <div class="konsul col-4 px-0">
                        <div class="card mb-2">
                            <div class="d-flex flex-row px-4 py-4">
                                <a href="#" class="d-flex px-4 py-4" style="border-radius: 10px; background-color: #49C39F;">
                                    <img src="/static/assets/img/chart.svg" alt="">
                                </a>
                                <div class="d-flex flex-column justify-content-center ps-3">
                                    <p class="mb-0">Sudah Konsultasi Bulan ini</p>
                                    <p class="mb-0"><span style="color: #49C39F; font-size: 28px; font-weight: 600;">1</span> Mahasiswa</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="d-flex flex-row px-4 py-4">
                                <a href="#" class="d-flex px-4 py-4" style="border-radius: 10px; background-color: #C34983;">
                                    <img src="/static/assets/img/chart.svg" alt="">
                                </a>
                                <div class="d-flex flex-column justify-content-center ps-3">
                                    <p class="mb-0">Belum Konsultasi Bulan ini</p>
                                    <p class="mb-0"><span style="color: #C34983; font-size: 28px; font-weight: 600;">5</span> Mahasiswa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 p-0" style="overflow-x: auto;">
                        <div class="d-flex w-100" style="overflow-x: auto;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="d-flex flex-column mb-4">
                <p class="title">Statistik</p>
                <p class="text-muted mb-2">Berikut adalah beberapa statistik yang dikumpulkan</p>
            </div> -->
        </div>
    </div>
    <% include('../_partial/include_js') %> 
</body>
</html>